%h1 Paiement de la cotisation à Alsace Digitale
%p
  Montant de la cotisation : 20€

  Paiement via Paypal :
  = link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), :action => 'subscription_checkout'
