- if error = flash[:error]
  .alert.alert-error
    - if error == "validity"
      Votre cotisation n'est pas valide ! Veuillez mettre à jour votre cotisation ?
      = link_to "Payez maintenant", subscription_payments_path
    - else
      = error
